*.sw[op]
vivado.log
vivado.jou
*~
*#
vivado/embedded_linux/
.Xil/
kernel/linux-xlnx-xilinx-v2015.4.01/
u-boot/u-boot-xlnx-xilinx-v2015.4/
boot/
root/
dl/
img/
**/.git
**/.metadata
u-boot.elf
boot.bin
devicetree.dtb
system.dts
uImage
